.adgroup-list{
    li {
        padding: 0.5em;
        @at-root .list-item {
            position: relative;
            height: 1.4rem;
        }
    }
    .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.4rem;
        text-align: center;
        img {
            border: 1px solid #ccc;
        }
    }
    .content {
        position: absolute;
        top: 0;
        left: 1.4rem;
        vertical-align: top;
        margin-right: 1rem;
        @at-root p {
            margin: 6px 0;
            color: inherit;
        }
        .title {
        }
        .price {
            color: red;
        }
    }
    .adgroup-status {
        color: #999;
        // font-size: 12px;
        position: absolute;
        margin-top: 22px;
        margin-right: 0;
        top: 5px;
        right: 0;
        padding: 2px 6px;
        background-color: #fff;
        border-radius: 3px;
        border: 1px solid #efeff1;
        cursor: pointer;
    }
}

