ul {
    margin: 0;
    padding: 0;
    background-color: #fff;
    list-style: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    li {
        position: relative;
        list-style: none;
        padding: 0.5rem 0.5rem 0.5rem 0.25rem;
        border-bottom: 1px solid #ccc;
        border-bottom-style: dotted;
        background-color: #f9f9fa;

    }
}
.campaign-list {
    li {
        &:first-child {
            border-top: 1px solid #ccc;
        }
        &:nth-child(2n+1) {
            background-color: #f2f2f4;
        }

        a {
            position: relative;
            display: block;
            color: inherit;
            text-decoration: none;
            // margin: -20px -20px - 20px -10px;
            padding: 0.5rem 0.5rem 0.5rem 0.25rem;
            margin: -0.5rem -0.5rem -0.5rem -0.25rem;
            @at-root .campaign-status {
                padding: 2px 6px;
                background-color: #fff;
                border-radius: 3px;
                border: 1px solid #efeff1;
            }
            .campaign-status {
                float: right;
                margin-right: 10px;
            }
        }
    }
}

