.campselect-component {
    // border: 1px dashed #f00
}
.slector {
    display: flex;
    justify-content: space-between;
}
.campaign-selector {
    width: 66%;
}
.range-selector {
    width: 30%;
}
